﻿<style asp-src="~/AssignmentWebsite.Module/subscribe-widget.css"></style>

<div class="subscribe-widget-container">
    <div class="subscribe-widget-main">
        <h1>@T["Subscribe to our news letter!"]</h1>
        <div class="widget-hr-line"></div>
        <div class="widget-description-div">@T["Stay up to date with recent posts by subscribing to our news letter."]</div>
        <input id="inputName" type="text" class="widget-input" placeholder="Type your name here"/>
        <input id="inputEmail" type="text" class="widget-input" placeholder="Type your e-mail address here"/>
        <button class="widget-subscribe-button" onclick="onSendSubscribeRequest()">Subscribe</button>
    </div>
</div>

<script asp-src="~/AssignmentWebsite.Module/subscribe-widget.js"></script>