﻿@using AssignmentWebsite.Module.Models
@model AssignmentWebsite.Module.ViewModels.SubscriberPartViewModel

<fieldset class="form-group" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"] <span asp-validation-for="Name"></span></label>
    <input asp-for="Name" class="form-control"/>
    <span class="hint">@T["Subscriber's name"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Email">
    <label asp-for="Email">@T["E-mail"] <span asp-validation-for="Email"></span></label>
    <input asp-for="Email" class="form-control"/>
    <span class="hint">@T["Subscriber's e-mail address"]</span>
</fieldset>